

<meta charset="UTF-8">
<meta name="" content="">
<title>YOUTV Admin</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css'>

<link rel="apple-touch-icon" sizes="57x57" href="/favico/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/favico/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/favico/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/favico/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/favico/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/favico/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/favico/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/favico/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/favico/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="/favico/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favico/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/favico/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favico/favicon-16x16.png">
<link rel="manifest" href="/favico/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/favico/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">
<style>
/* USING BOOTSTRAP 3.0.3 */
body {
  /*padding-top: 60px;*/
}
nav .navbar-brand {
  font-size: 30px;
}
nav .navbar-toggle {
  margin: 13px 15px 13px 0;
}
nav a {
  font-size: 18px;
  padding-bottom: 20px !important;
  padding-top: 20px !important;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
nav.navbar.shrink {
  min-height: 35px;
}
nav.navbar.shrink .navbar-brand {
  font-size: 25px;
}
nav.navbar.shrink a {
  font-size: 15px;
  padding-bottom: 10px !important;
  padding-top: 10px !important;
}
nav.navbar.shrink .navbar-toggle {
  margin: 8px 15px 8px 0;
  padding: 4px 5px;
}
</style>
<script>
  window.console = window.console || function(t) {};
</script>
<script>
  if (document.location.search.match(/type=embed/gi)) {
    window.parent.postMessage("resize", "*");
  }
</script>
