


    <div class="top-header-area">
    
    </div>
    </div>
    <div id="fb-root"></div>
    <div class="vizew-main-menu" id="sticker">
    <div class="classy-nav-container breakpoint-off">
    <div class="container">
    
    <nav class="classy-navbar justify-content-between" id="vizewNav">
    
    <a id="" href="" class="nav-brand navbar-brand"><img src="/img/youlogo.jpeg" alt="YouTV" /></a>
    
    <div class="classy-navbar-toggler">
    <span class="navbarToggler"><span></span><span></span><span></span></span>
    </div>
    <div class="classy-menu">
    
    <div class="classycloseIcon">
    <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
    </div>
    
     <div class="classynav" >
            <ul >
            <li class=""><a href="/">Home</a>
            <ul class="dropdown" >
              <li> <a href="">YouNews</a></li>
              <li><a href="#">YouEntertainment</a>
                <ul class="dropdown">
                <li><a href="/programme/youmusic">Youmusic</a></li>
                <li><a href="/programme/youmovies">YouMovies</a></li>
                <li><a href="/programme/yousports">YouSports</a></li>
                </ul>
                </li>
                <li><a href="/programme/YouPersonality">YouPersonality</a></li>
                <li><a href="">YouReporter</a></li>

           
           
            </ul>
            
            </li>
           <!-- <li><a href="/programme/youNews">YouNews</a></li>-->
           
            <li><a href="#">YouSpecials</a>
            
              <ul class="dropdown">
                <li><a href="/programme/lifestyle">Lifestyle</a></li>
                <li><a href="/programme/tourism">Tourism & Wildlife</a></li>
                <li><a href="/programme/travel">Hospitality & Travel</a></li>
                <li><a href="/programme/YouDiscovery">Discovery</a></li>
                <li><a href="/programme/YouBiz&Tech">BiZ. & Tech</a></li>
                </ul>
            
            </li>
            <li><a href="#">Programmes</a>
            
              <ul class="dropdown">
                <li><a href="/programme/ruralvoices">The Rural Voices</a></li>
                <li><a href="/programme/youwoman">YouWoman</a></li>
                <li><a href="/programme/youfashion">Fashion Catalog</a></li>
                <li><a href="/programme/youDownloads">AfroMusic charts</a></li>
                  <li><a href="/programme/artiste">The Artiste Timeline</a> </li>
                  </ul>
            
            </li>
            <li><a href="/programme/YouDownloads">Music</a></li>
            <li><a href="">LiveStream</a></li>

           
           
            </ul>
      </div>
    </nav>
    </div>
    </div>
    </div>
    