



 <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="#"><a class="navbar-brand" href="#"> <img class="navbar-brand" href="#"src="/img/youlogo.jpeg" width="80" height="35"></a>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      

        <% if(user){ %>

          <% if(user.role === "Admin"){ %>
            <ul class="navbar-nav mr-auto">
      
       <li class="nav-item active">
          <a class="nav-link " href="/admin/dashboard">Dashboard <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/approvePosts">Approve Posts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/edit/editPosts">Edit Posts</a>
      
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/users">Add Users</a>
    
    </li>
      </ul>
     
      <%} else {%>
        <ul class="navbar-nav mr-auto">
      
           
          <li class="nav-item active">
            <a class="nav-link " href="/admin/dashboard">Dashboard <span class="sr-only">(current)</span></a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" href="/edit/editPosts">Edit Posts</a>
        
        </li>
          
        </ul>
        <%}%>
      <ul class="navbar-nav mr-right">
      
   
          <li class="nav-item"> <a class="nav-link">Welcome, <%=user.name%>  <span class="sr-only">(current)</span></a></li>
         
          <li class="nav-item">
            <a class="nav-link" href="/admin/logout/<%= user.name %>/<%=user.id%>">Logout</a>
          </li>
                
        </ul>
       
     
           
              <%}%>
         
    </div>
  </nav>
  




  