


<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
    <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href=""><img src="/img/navlogo.jpeg"></a>
    </div>

    
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="nav navbar-nav  pull-right">

            <% if(user){ %>
                <li class="nav-item"> <a class="nav-link">Welcome <%=user.username%></a></li>
                <li class="nav-item active">
                    <a class="nav-link" href="/admin/menu">Dashboard <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/logout">Logout</a>
                </li>

                <% } else{ %>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/login">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/register">Register</a>
                    </li>
                    <% } %>

        </ul>
       
    </div>

    <!--<div class="collapse navbar-collapse">
    <ul class="nav navbar-nav pull-right">
    <li class="active"><a href="#">Home</a></li>
    <li><a href="#">Page</a></li>
    <li><a href="#">Link</a></li>
    </ul>
    </div>-->
    </div>
    </nav>
    
    