<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">



    <title>YouTV</title>

    <% include ./partials/favico %>

    <% include ./partials/sheets %>


    <!--<link rel="stylesheet" href="/css/style1.css">-->


    <!-- Stylesheet -->

</head>

<body>

    <header class="header-area">

        <% include ./partials/header %>



    </header>

    <section class="post-details-area mb-80">
        <div class="container">
        <div class="row">
        <div class="col-12">

            <br>
            <br>
        <div class="single-video-area">
       <!--<iframe src="https://www.youtube.com/channel/UCYWJcEeYaGjn2Jrx00-DJ0Q/videos" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
       -->
       <iframe src="https://www.youtube.com/embed/live_stream?channel=UCYWJcEeYaGjn2Jrx00-DJ0Q" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
       
      <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/C2h5oQmrFEI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      -->
        </div>
        </div>
        </div>
     </div> 
     </section>  
    <!-- ##### Header Area End ##### -->

    <footer class="footer-area">
        <div class="container">
            <div class="row">
                

                
            </div>
        </div>
    </footer>
        <footer class="footer-area">
            <% include ./partials/footer %>
        </footer>
        <% include ./partials/scripts %>
    
    <!-- ##### Footer Area End ##### -->

</body>

</html>