

<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/navbarHead') %>
<%- include('./partials/formsheets') %>

</head>
<body>
  <%-include('./partials/navbarBody') %>
  
<div class="container">
  <div class="" style="margin-top: 20rem;">
  <div class="wrapper wrapper--w790 " >
   
    <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title"></h5>
              <p class="card-text"></p>
              <a href="/edit/topicList" class="btn btn-primary">Edit Posts</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title"></h5>
              <p class="card-text"></p>
              <a href="/admin/posts" class="btn btn-primary">New Posts</a>
            </div>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="col-sm-6" style="margin-top: 2vw;">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title"></h5>
              <p class="card-text"></p>
              <a href="/music/uploadSong" class="btn btn-primary">upload Music for downloads</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6" style="margin-top: 2vw;">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title"></h5>
              <p class="card-text"></p>
              <a href="/" class="btn btn-primary">Register Reporters</a>
            </div>
          </div>
        </div>
      </div>




  </div>
  </div>
</div>

<%- include('./partials/formScripts') %>
    <script src="/js/theValue.js"></script>
    <script src="/js/imgPreview.js"></script>
</body>
</html>
